<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiraclePills.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EB0231F1F2F0E5C00D21646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB023331F2F0E5D00D21646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB0233E1F2F0E5D00D21646</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
