<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alpacaWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E7CD4EB1F4A65E9003816F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E7CD4FF1F4A65E9003816F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E7CD50A1F4A65E9003816F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
